@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poly:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poly:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .animation-btn-cta {
    @apply transition-all duration-100 scale-110 ease-out;
  }
  .cards-btn-filter-tablet {
    @apply sticky top-0 w-20 left-40;
  }
  .cards-catalog-lg {
    @apply gap-4 px-28 py-4 pb-24;
  }
  .btn-banner3-cel {
    @apply text-3xl w-24 h-14   px-0;
  }
  .cards-vip-home {
    @apply flex flex-row gap-16 items-center justify-center py-16 w-full;
  }
  .btn-vip-moda-lg {
    @apply text-[#403834] flex tracking-wide items-center justify-center absolute top-8  left-1/2 transform -translate-x-1/2 font-ButtonBuy font-normal text-3xl bg-white w-[360px] h-[76px];
  }
  .carousel-img {
    @apply h-[280px] w-[864px] cel:h-[284px] cel:w-[890px]  lg:h-[700px] lg:w-full;
  }
  .nav-hover-sm {
    @apply h-auto w-auto block flex-col p-2 transition-all ease-in-out duration-150;
  }
  .nav-hover-li {
    @apply h-full w-full border border-[#403834] border-opacity-30 shadow-nav-shadow transition-all duration-100 ease-out cursor-pointer;
  }
  .ul-nav-lg {
    @apply text-[#403834]  flex flex-col items-center justify-center w-32;
  }
  .h1-nav-lg {
    @apply flex items-center justify-center w-full link text-lg  text-[#403834] h-full;
  }
  .ul-li-nav-lg {
    @apply relative text-center w-full h-10 self-center justify-center items-center border-0 shadow-none;
  }
  .li-link-nav-lg {
    @apply absolute h-10 p-0 top-full flex flex-col items-center w-32 text-base border-0;
  }
  .link-li-nav-lg-moda {
    @apply link submenu-hover-moda py-1  w-32 h-auto text-[#403834];
  }
  .link-li-nav-lg-pijama {
    @apply link submenu-hover-pijama py-1 w-32  h-auto text-[#403834];
  }
  .animation-card {
    @apply overflow-hidden h-0 transition-all duration-300 ease-in-out;
  }
  html {
    padding-right: 0px !important;
  }
  body {
    padding-right: 0px !important;
    @apply bg-bgHome min-h-screen max-h-screen bg-cover bg-center bg-repeat w-full p-0;
  }
  .submenu-hover-moda {
    @apply invisible group-hover/nav-moda:visible border-x border-[#403834] shadow-nav-shadow border-opacity-30 bg-white w-full font-Poly flex items-start pl-2 text-[#403834];
  }
  .submenu-hover-pijama {
    @apply invisible group-hover/nav-pijama:visible border-x border-[#403834] shadow-nav-shadow border-opacity-30 bg-white w-full font-Poly flex items-start pl-2 text-[#403834];
  }
  .link {
    @apply link-underline link-underline-black flex flex-row text-center gap-2 font-Poly w-full;
  }
  .productline {
    @apply link-underline link-underline-black;
  }
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 1px;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    transition: background-size 0.075s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  }

  .link-underline:hover {
    background-size: 80% 1px;
    background-position: 50% 90%;
  }
  .arrow-rotate {
    @apply transition-all ease-in duration-100 rotate-0;
  }
}
